# For your local environment, these values can be found in the supabase status command details.

# Database URL
DATABASE_URL=postgres://postgres:postgres@localhost:54322/postgres
# API URL
SUPABASE_URL=https://localhost:54321/
# anon key
SUPABASE_KEY=your-supabase-anon-key
# service_role key 
SUPABASE_SERVICE_KEY=your-supabase-service-role-key
# JWT Secret
JWT_SECRET=your-jwt-secret 

NODE_ENV=development
PORT=3000

SMTP_USER=user
SMTP_PASS=pass
SMTP_PORT=54325

# enable TLS by passing the literal `true`; default undefined (false)
# SMTP_TLS=true
# to send emails from a different email address, set the SMTP_FROM environment variable
# SMTP_FROM=test@example.com

# base for link to confirm user sign up to which a `hashed_token` URL parameter will be added
SIGNUP_CONFIRM_BASE_URL=http://localhost:3000/auth/sign-up/confirm
