DATABASE_URL=postgres://postgres:postgres@localhost:54322/postgres
SUPABASE_URL=https://localhost:54322/postgres
SUPABASE_KEY=your-supabase-anon-key
SUPABASE_SERVICE_KEY=your-supabase-service-role-key
NODE_ENV=development
DATABASE=postgresql
DB_HOST=localhost
DB_PORT=54322
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres