# For your local environment, these values can be found in the supabase status command details.

# Database URL
DATABASE_URL=postgres://postgres:postgres@localhost:54322/postgres
# API URL
SUPABASE_URL=https://localhost:54321/
# anon key
SUPABASE_KEY=your-supabase-anon-key
# service_role key 
SUPABASE_SERVICE_KEY=your-supabase-service-role-key
    
NODE_ENV=development
PORT=3000

