<h2>{{ displayName if displayName else "Hello" }}, you've been invited to join {{ instanceName }} on Wisdom by {{ inviterName }}</h2>

<p>Follow this link to sign up and start contributing!</p>
<p>
  <a href="{{ signUpURL }}">Sign up</a>
</p>
